<!-- <mat-card>
  <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list> </mat-card
><br />

<mat-card>
  <mat-list role="list">
    <mat-list-item> Pepper </mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
  </mat-list> </mat-card
><br />

<mat-card>
  <mat-nav-list>
    <mat-list-item *ngFor="let link of links">
      <a matLine href="...">{{ link }}</a>
      <button mat-icon-button (click)="showInfo(link)">
        <mat-icon>info</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</mat-card> -->

<mat-card
  ><mat-list>
    <h3 mat-subheader>Folders</h3>
    <mat-list-item *ngFor="let file of files">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{ file.name }}</h4>
      <p mat-line>{{ file.updated | date }}</p>
      <mat-divider></mat-divider>
    </mat-list-item>

    <!-- <h3 mat-subheader>Notes</h3>
    <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{ note.name }}</h4>
      <p mat-line>{{ note.updated | date }}</p>
    </mat-list-item> -->
  </mat-list>
</mat-card>

<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let message of messages">
      <img matListAvatar src="assets/images/Download.pngl" alt="..." />
      <h3 matLine>{{ message.from }}</h3>
      <p matLine>
        <span> {{ message.subject }} </span>
        <span class="demo-2"> -- {{ message.content }} </span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>
